<section id="books">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Suggested Books</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
	<!--This is an example text that won't be displayed in the browser

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>-->
	        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Optimization</h2>
                <hr class="light">
                <p style="text-align:left;"> 
				<span>&#8226;</span>
					<b>Convex Analysis</b> by R.T. Rockafellar <br>
					 One of my favourite books to learn theory of optimization. It is an advanced book, but the chapters have been constructed to be as independent as possible.
					You can refer to this book to find more details or theoretical understanding of a specific subject. <br>
					<a href="http://read.pudn.com/downloads792/sourcecode/math/3128415/Convex%20Analysis(Rockafellar).pdf">Link</a><br>
				<span>&#8226;</span>
					<b>Convex Optimization</b> by S. Boyd and L. Vandenberghe <br>
					 Great resourse for convex optimization, it contains a great amount of theoretical conceptes, deriviations,
					 examples and exersice to familiarize with most consepts in convex optimization.<br>
					 <a href="https://web.stanford.edu/~boyd/cvxbook/">Link</a><br>
				<span>&#8226;</span>
					<b>Numerical Optimization</b> by J. Nocedal and S. J. Wright <br>
					 Classic book for numerical methods in optimization. It is a great sourse from beginners to advanced readers.<br>
					 <a href="http://www.apmath.spbu.ru/cnsa/pdf/monograf/Numerical_Optimization2006.pdf">Link</a><br>
				<span>&#8226;</span>
					<b>Primal-Dual Interior-Point Methods</b> by S. J. Wright <br>
					 A specialized book in iterior-point method. This book will give you a good understanding of practical and computational aspects.<br>
					<a href="https://epubs.siam.org/doi/book/10.1137/1.9781611971453?mobileUi=0">Link</a><br>
				<span>&#8226;</span>
					<b>Nonlinear and Mixed-Integer Optimization: Fundamentals and Applications</b> by C. Floudas <br>
                     Great about mixed-integer nonlinear optimization, mainly convex. There are many illustrative and
					 practical examples to graps the otherwise complex concepts. <br>
					 <a href="https://books.google.co.uk/books?id=OhTfOjSkq18C&pg=PA110&lpg=PA110&dq=minlp+floudas&source=bl&ots=snsuz5xSAA&sig=ACfU3U20LVa1_PZ1PAxjfeO2PusmN4RUZQ&hl=en&sa=X&ved=2ahUKEwiL_drTp5_qAhWWURUIHQniC0MQ6AEwBXoECAoQAQ#v=onepage&q=minlp%20floudas&f=false">Link</a><br>
			</div>
			<div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Dynamic Optimization and Optimal Control</h2>
                <hr class="light">
                <p style="text-align:left;"> 
				<span>&#8226;</span>
					<b>Nonlinear and Dynamic Optimization: From Theory to Practice</b> by B. Chachuat <br>
					 Dynamic optimization and optimal control is fun subject to read. This book offers a great balance of introductory and advanced concepts, 
					 as well as illustrative examples.<br>
					<a href="https://scholar.google.co.uk/citations?hl=en&user=VXbA-dAAAAAJ&view_op=list_works#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Den%26user%3DVXbA-dAAAAAJ%26citation_for_view%3DVXbA-dAAAAAJ%3AdfsIfKJdRG4C%26tzom%3D-60">Link</a><br>
				<span>&#8226;</span>
					<b>Dynamic Programming and Optimal Control</b> by by D. P. Bertsekas <br>
					 Great sourse for dynamic programming and optimal control. This book can serve as introduction to theoretical aspects of dynamic programming
					 and Markovian decision problem. <br>
					 <a href="http://athenasc.com/dpbook.html">Link</a><br>
				<span>&#8226;</span>
					<b>Model Predictive Control: Theory, Computation, and Design</b> by J. B. Rawlings, D. Q. Mayne	and M. M. Diehl <br>
					 Certainly one of my favourite books. This book has a great introduction to model predictive control (MPC),
					 it provides great theoretical aspects, and advanced schemes of MPC. The 2nd edition also have some practical
					 examples close related to dynamic optimization<br>
					 <a href="https://sites.engineering.ucsb.edu/~jbraw/mpc/">Link</a><br>
			</div>
			<div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Control Systems</h2>
                <hr class="light">
                <p style="text-align:left;"> 
				<span>&#8226;</span>
					<b>Essentials of Robust Control</b> by K. Zhou and J. C. Doyle<br>
					 Foundamental aspects of robust control theory, provides theory, examples and analysis of classic control H2 control
					 and balanced model reduction. <br>
					 <a href="https://www.ece.lsu.edu/kemin/essentials.htm">Link</a><br><span>&#8226;</span>
					<b>The Analysis of Feedback Systems</b> by  J. C. Willems <br>
					 This is certainly an advanced book that provides mainly theoritical aspects of input-output analysis 
					 of dynamic systems for feedback control.<br>
					<a href="https://homes.esat.kuleuven.be/~sistawww/smc/jwillems/Books/MITMonograph.pdf">Link</a><br>
				<span>&#8226;</span>
					<b>Feedback Systems: Input-Output Properties</b> by C. A. Desoer and M. Vidyasagar <br>
					 Each chapter in this book contains a comprehensive analysis of interconnected systems in closed-loop. 
					 It also provides some great appendices for concepts like Fourier transofrmations, integrals etc. <br>
					 <a href="https://epubs.siam.org/doi/book/10.1137/1.9780898719055">Link</a><br>
			</div>
			<div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Machine Learning</h2>
                <hr class="light">
                <p style="text-align:left;"> 
				<span>&#8226;</span>
					<b> Deep Learning</b> by I. Goodfellow, Y. Bengio and A. Courville<br>
					 The Deep Learning book has become a classic resource for both students and practitioners 
					 of machine learning. It covers almost huge range of deep learning and provides theory and practice. <br>
					 <a href="https://www.deeplearningbook.org/">Link</a><br><span>&#8226;</span>
					<b>Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow</b> by A. Géron <br>
					 Great book for learning to apply the machine learning technques. This book is not recommending for theoretical understanding.<br>
					<a href="https://www.oreilly.com/library/view/hands-on-machine-learning/9781492032632/">Link</a><br>
				<span>&#8226;</span>
					<b>Reinforcement Learning: An Introduction</b> by  R. Sutton and A. Barto <br>
					 Reinforcement learning has gained a significant attention in the machine learning community, 
					 and this book contain great introduction to concepts and algorithms. <br>
					 <a href="https://web.stanford.edu/class/psych209/Readings/SuttonBartoIPRLBook2ndEd.pdf">Link</a><br>
			</div>
			</div>