<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p style="text-align:left;"> -Forward-thinking process system engineering research scientist with a strong background in machine learning and control to successful generate safe and reliable control systems based on partial knowledge and data of the process.<br> 
-Excellent team player and reliable builder of prolific collaborations with four different universities in different aspects of basic and applied research resulting in successful research projects and >10 peer-reviewed scientific publications.<br>
-As a research scientist, I not only provide creative solutions, but I am seeking for excellence resulting in >10 scientific awards in my career. I am a detailed-oriented, self-motivated individual with easy-integration in a multicultural environment, with collaborations across different contexts and teams (National Technical University of Athens, University of Manchester, University College London, University of Leeds and Imperial College London). I believe that my role as a researcher does not stop in the development of products but also in the skill’s development of others. For that reason, I have built courses for machine-learning and model predictive control in 3 different universities with an eager attendance of PhD students, research associates and academics. </p>

<b>Technical skills:</b><br>
-Machine learning process optimization using hybrid models, reinforcement learning-based
methods for process optimization and control, hybrid physics-based and data‐driven modelling for
bioprocess, model-based process control of microreactors, development of stability analyses for
uncertain systems, model-based design of experiments for online measurements of flow-reactors,
safe design of experiments at the presence of mechanical malfunctions.<br>
-Programming Languages: Python, Matlab, Fortran, Visual Basic<br>
-Software and tools: Tensorflow, Pytorch, Aspen Plus, COMSOL, MathCAD, MS Office products, Git<br>

                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
