<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded"> -Forward-thinking process system engineering research scientist with a strong background in machine learning and control to successful generate safe and reliable control systems based on partial knowledge and data of the process.<br> 
-Excellent team player and reliable builder of prolific collaborations with four different universities in different aspects of basic and applied research resulting in successful research projects and >10 peer-reviewed scientific publications.<br>
Technical skills:
<b>dfgddfgdg <\b></p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
