<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2> </br></br></br></br></br></br></br></br></br>  Staff Scientist in </br>Machine learning</h2> at <a href="https://www.illumina.com/">Illumina</a>

            <hr>
            <p>Interested in working and teaching machine learning </br>for process optimization, modeling and control engineering </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
