<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Research</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
	<!--This is an example text that won't be displayed in the browser

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>-->
	        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Research interests</h2>
                <hr class="light">
                <p style="text-align:left;"> 
				<span>&#8226;</span>
					Machine Learning for Automating Process Design and Control<br>
				<span>&#8226;</span>
					Policy Optimization using Reinforcement Learning<br>
				<span>&#8226;</span>
					Hybrid Modeling For Pharmaceutical Applications<br>
				<span>&#8226;</span>
					Model-Based Design of Experiment Under Uncertainty <br>
				<span>&#8226;</span>
					 Feedback Control Theory And Its Applications<br>
			</div>
			</div>
	        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Selected Publications (More <a href="https://scholar.google.com/citations?user=muL7-BEAAAAJ&hl=en">Here</a>)</h2>
                <hr class="light">
                <p style="text-align:left;"> 
				<span>&#8226;</span>
					<a href="https://arxiv.org/pdf/2008.00030.pdf"> Chance Constrained Policy Optimization for Process Control and Optimization </a><br>
					P. Petsagkourakis, E. Bradford, I.O. Sandoval, F. Galvanin, D. Zhang, E.A. del Rio-Chanona<br>
					2020, Under Review<br>	
				
				<span>&#8226;</span>
					<a href="https://arxiv.org/abs/2006.02750"> Constrained Reinforcement Learning for Dynamic Optimization under Uncertainty </a><br>
					P. Petsagkourakis, E. Bradford, I.O. Sandoval, D. Zhang, E.A. del Rio-Chanona<br>
					2020, IFAC World Congress 2020<br>	

				<span>&#8226;</span>
					<a href="https://www.sciencedirect.com/science/article/pii/S0098135419304168"> Reinforcement Learning for Batch Bioprocess Optimization </a></br>
					P. Petsagkourakis, E. Bradford, I.O. Sandoval, D. Zhang, E.A. del Rio-Chanona<br>
					2020, Computers & Chemical Engineering<br>
										
				<span>&#8226;</span>
					<a href="https://arxiv.org/pdf/1903.03154.pdf"> Robust Stability of Barrier-Based Model Predictive Control</a><br>
					P. Petsagkourakis, W. P. Heath, J. Carrasco, C. Theodoropoulos<br>
					2020, Transactions on Automatic Control (Accepted)<br>
					
				<span>&#8226;</span>
					<a href="www.sciencedirect.com/science/article/pii/S0005109819304005"> Stability analysis of piece-wise affine systems with multi-model predictive control</a><br>
					P. Petsagkourakis, W. P. Heath, C. Theodoropoulos<br>
					2020, Automatica<br>
					
				<span>&#8226;</span>
					<a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/bit.27120"> Hybrid physics-based and data-driven modeling for bioprocess online simulation and optimization </a><br>
					D. Zhang, E.A. Del Rio-Chanona, P. Petsagkourakis, J. Wagner<br>
					2019, Biotechnology and bioengineering<br>
				
				<span>&#8226;</span>
					<a href="https://www.sciencedirect.com/science/article/pii/S0263876218305926">  Reduced order optimization of large-scale nonlinear systems with nonlinear inequality constraints using steady state simulators</a><br>
					  P. Petsagkourakis, W. P. Heath, C. Theodoropoulos<br>
					  2019, Chemical Engineering Research and Design	<br>
					
				<span>&#8226;</span>
					<a href="https://pubs.acs.org/doi/10.1021/acs.iecr.8b00033">  Reduced order optimization of large-scale nonlinear systems with nonlinear inequality constraints using steady state simulators</a><br>
					  P. Petsagkourakis, I. Bonis, C. Theodoropoulos<br>
					  2018, Industrial and Engineering Chemistry Research <br>
			</div>
			</div>