<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Research</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
	<!--This is an example text that won't be displayed in the browser

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>-->
	        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Research interests</h2>
                <hr class="light">
                <p style="text-align:left;"> 
				<span>&#8226;</span>
Forward-thinking process system engineering research scientist with a strong background in machine learning and control to successful generate safe and reliable control systems based on partial knowledge and data of the process.<br> 
-Excellent team player and reliable builder of prolific collaborations with four different universities in different aspects of basic and applied research resulting in successful research projects and >10 peer-reviewed scientific publications.<br>
-As a research scientist, I not only provide creative solutions,
	I am seeking for excellence resulting in <b>>10 scientific awards</b> in my career.<br>
-Collaborations across different contexts and teams <br>
	-National Technical University of Athens <br>
	-University of Manchester <br>
	-University College London <br>
	-University of Leeds <br>
	-Imperial College London. <br>

<b>Technical skills:</b><br>
-Machine learning process optimization using hybrid models, reinforcement learning-based
methods for process optimization and control, hybrid physics-based and data‐driven modelling for
bioprocess, model-based process control of microreactors, development of stability analyses for
uncertain systems, model-based design of experiments for online measurements of flow-reactors,
safe design of experiments at the presence of mechanical malfunctions.<br>
-Programming Languages: Python, Matlab, Fortran, Visual Basic<br>
-Software and tools: Tensorflow, Pytorch, Aspen Plus, COMSOL, MathCAD, MS Office products, Git<br>
            </div>
        </div>

</section>
